In [1]:
import pandas as pd
import os

csvs = [f for f in os.listdir() if f.endswith(".csv")]
dfs = [pd.read_csv(csv) for csv in csvs]
final = pd.concat(dfs, ignore_index=True)
final = final.groupby("product_id").mean().reset_index()
final

     product_id           tn
0         20001  1075.533056
1         20002  1066.337789
2         20003   696.763006
3         20004   519.349285
4         20005   532.514052
..          ...          ...
775       21263     0.024201
776       21265     0.091836
777       21266     0.089179
778       21267     0.072795
779       21276     0.093628

[780 rows x 2 columns]