AutoGluon - Predicci√≥n de ventas (tn) por producto para febrero 2020

In [2]:
import torch
print(torch.cuda.is_available())  # Debe dar True
print(torch.cuda.device_count())  # Debe mostrar tu cantidad de GPUs

True
1

In [3]:
# üì¶ 1. Importar librer√≠as
import pandas as pd

In [5]:
# üí¨ Instalar AutoGluon si es necesario
#%pip install autogluon.timeseries

from autogluon.timeseries import TimeSeriesPredictor, TimeSeriesDataFrame

/opt/conda/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
# üìÑ 2. Cargar datasets

df_sellin = pd.read_parquet('../data/l_vm_completa_train.parquet', engine='fastparquet')
df_sellin = df_sellin[df_sellin['A_PREDECIR'] != 'N']

In [7]:
# üßπ 3. Preprocesamiento
# Convertir periodo a datetime
df_sellin['timestamp'] = pd.to_datetime(df_sellin['PERIODO'], format='%Y%m')

In [13]:
# Filtrar hasta dic 2019 y productos requeridos
df_filtered = df_sellin[
    (df_sellin['timestamp'] <= '2019-12-01')
]

In [14]:
# Agregar tn por periodo, cliente y producto
df_grouped = df_filtered.groupby(['timestamp', 'CUSTOMER_ID', 'PRODUCT_ID'], as_index=False)['TN'].sum()

In [15]:
# Agregar tn total por periodo y producto
df_monthly_product = df_grouped.groupby(['timestamp', 'PRODUCT_ID'], as_index=False)['TN'].sum()

In [16]:
# Agregar columna 'item_id' para AutoGluon
df_monthly_product['item_id'] = df_monthly_product['PRODUCT_ID']

In [17]:
# ‚è∞ 4. Crear TimeSeriesDataFrame
ts_data = TimeSeriesDataFrame.from_data_frame(
    df_monthly_product,
    id_column='item_id',
    timestamp_column='timestamp'
)

In [19]:
# Simplemente resete√° el √≠ndice, te devuelve un DataFrame de pandas
df = ts_data.reset_index()

# Extraer a√±o y mes
df['anio'] = df['timestamp'].dt.year
df['mes'] = df['timestamp'].dt.month

# Agrupar y contar filas por a√±o y mes
resumen = df.groupby(['anio', 'mes']).size().reset_index(name='cantidad_filas')

print(resumen)

    anio  mes  cantidad_filas
0   2017    1             496
1   2017    2             500
2   2017    3             502
3   2017    4             502
4   2017    5             506
5   2017    6             513
6   2017    7             525
7   2017    8             530
8   2017    9             536
9   2017   10             549
10  2017   11             564
11  2017   12             564
12  2018    1             568
13  2018    2             569
14  2018    3             575
15  2018    4             587
16  2018    5             599
17  2018    6             599
18  2018    7             603
19  2018    8             608
20  2018    9             627
21  2018   10             646
22  2018   11             656
23  2018   12             656
24  2019    1             656
25  2019    2             660
26  2019    3             675
27  2019    4             705
28  2019    5             718
29  2019    6             734
30  2019    7             756
31  2019    8             771
32  2019    9             780
33  2019   10             780
34  2019   11             780
35  2019   12             780

In [20]:
# Completar valores faltantes
ts_data = ts_data.fill_missing_values()

In [21]:
# Simplemente resete√° el √≠ndice, te devuelve un DataFrame de pandas
df = ts_data.reset_index()

# Extraer a√±o y mes
df['anio'] = df['timestamp'].dt.year
df['mes'] = df['timestamp'].dt.month

# Agrupar y contar filas por a√±o y mes
resumen = df.groupby(['anio', 'mes']).size().reset_index(name='cantidad_filas')

print(resumen)

    anio  mes  cantidad_filas
0   2017    1             496
1   2017    2             500
2   2017    3             502
3   2017    4             502
4   2017    5             506
5   2017    6             513
6   2017    7             525
7   2017    8             530
8   2017    9             536
9   2017   10             549
10  2017   11             564
11  2017   12             564
12  2018    1             568
13  2018    2             569
14  2018    3             575
15  2018    4             587
16  2018    5             599
17  2018    6             599
18  2018    7             603
19  2018    8             608
20  2018    9             627
21  2018   10             646
22  2018   11             656
23  2018   12             656
24  2019    1             656
25  2019    2             660
26  2019    3             675
27  2019    4             705
28  2019    5             718
29  2019    6             734
30  2019    7             756
31  2019    8             771
32  2019    9             780
33  2019   10             780
34  2019   11             780
35  2019   12             780

In [23]:
# ‚öôÔ∏è 5. Definir y entrenar predictor

predictor = TimeSeriesPredictor(
    prediction_length=2,
    target='TN',
    freq='MS'
)

hyperparameters = {
    "AutoARIMA": {},
    "ETS": {},
    "DeepAR": {"num_batches_per_epoch": 100, "num_workers": 20},
    "PatchTST": {"num_workers": 20},
    "TemporalFusionTransformer": {"num_workers": 20},
    "DLinear": {},
    # Pod√©s sumar otros modelos de la lista...
}

predictor.fit(
    ts_data,
    num_val_windows=16,
    time_limit=60*60,
    hyperparameters=hyperparameters
)

Beginning AutoGluon training... Time limit = 3600s
AutoGluon will save models to '/workspace/ejemplos_clase/AutogluonModels/ag-20250719_001611'
=================== System Info ===================
AutoGluon Version:  1.3.1
Python Version:     3.10.14
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #29~24.04.1-Ubuntu SMP PREEMPT_DYNAMIC Thu Jun 26 14:16:59 UTC 2
CPU Count:          28
GPU Count:          1
Memory Avail:       101.35 GB / 125.58 GB (80.7%)
Disk Space Avail:   143.13 GB / 543.17 GB (26.4%)
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'freq': 'MS',
 'hyperparameters': {'AutoARIMA': {},
                     'DLinear': {},
                     'DeepAR': {'num_batches_per_epoch': 100,
                                'num_workers': 20},
                     'ETS': {},
                     'PatchTST': {'num_workers': 20},
                     'TemporalFusionTransformer': {'num_workers': 20}},
 'known_covariates_names': [],
 'num_val_windows': 16,
 'prediction_length': 2,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'TN',
 'time_limit': 3600,
 'verbosity': 2}

Provided train_data has 22375 rows, 780 time series. Median time series length is 36 (min=4, max=36).
Time series in train_data are too short for chosen num_val_windows=16. Reducing num_val_windows to 15.
	Removing 280 short time series from train_data. Only series with length >= 35 will be used for training.
	After filtering, train_data has 17996 rows, 500 time series. Median time series length is 36 (min=35, max=36).

Provided data contains following columns:
	target: 'TN'
	past_covariates:
		categorical:        []
		continuous (float): ['PRODUCT_ID']

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-07-19 00:16:11
Models that will be trained: ['ETS', 'AutoARIMA', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'DLinear']
Training timeseries model ETS. Training for up to 514.3s of the 3599.9s of remaining time.
	Warning: ETS/W0 failed for 500 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-0.2156       = Validation score (-WQL)
	4.96    s     = Training runtime
	0.51    s     = Validation (prediction) runtime
Training timeseries model AutoARIMA. Training for up to 599.1s of the 3594.4s of remaining time.
	-0.2348       = Validation score (-WQL)
	83.91   s     = Training runtime
	5.39    s     = Validation (prediction) runtime
Training timeseries model TemporalFusionTransformer. Training for up to 726.3s of the 3505.1s of remaining time.
	-0.1949       = Validation score (-WQL)
	283.01  s     = Training runtime
	0.11    s     = Validation (prediction) runtime
Training timeseries model DeepAR. Training for up to 874.0s of the 3222.0s of remaining time.
	-0.2001       = Validation score (-WQL)
	568.66  s     = Training runtime
	0.12    s     = Validation (prediction) runtime
Training timeseries model PatchTST. Training for up to 1026.6s of the 2653.2s of remaining time.
	-0.1834       = Validation score (-WQL)
	164.07  s     = Training runtime
	0.10    s     = Validation (prediction) runtime
Training timeseries model DLinear. Training for up to 1889.1s of the 2489.1s of remaining time.
	-0.2046       = Validation score (-WQL)
	117.48  s     = Training runtime
	0.10    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'AutoARIMA': 0.01, 'DeepAR': 0.16, 'ETS': 0.1, 'PatchTST': 0.57, 'TemporalFusionTransformer': 0.16}
	-0.1789       = Validation score (-WQL)
	3.76    s     = Training runtime
	6.24    s     = Validation (prediction) runtime
Training complete. Models trained: ['ETS', 'AutoARIMA', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'DLinear', 'WeightedEnsemble']
Total runtime: 1232.37 s
Best model: WeightedEnsemble
Best model score: -0.1789

In [24]:
# üîÆ 6. Generar predicci√≥n
forecast = predictor.predict(ts_data)

Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble
	Warning: ETS/W14 failed for 46 time series (5.9%). Fallback model SeasonalNaive was used for these time series.

In [25]:
# Extraer predicci√≥n media y filtrar febrero 2020
forecast_mean = forecast['mean'].reset_index()
print(forecast_mean.columns)

Index(['item_id', 'timestamp', 'mean'], dtype='object')

In [26]:
# Tomar solo item_id y la predicci√≥n 'mean'
resultado = forecast['mean'].reset_index()[['item_id', 'mean']]
resultado.columns = ['product_id', 'tn']

# Filtrar solo febrero 2020
resultado = forecast['mean'].reset_index()
resultado = resultado[resultado['timestamp'] == '2020-02-01']

# Renombrar columnas
resultado = resultado[['item_id', 'mean']]
resultado.columns = ['product_id', 'tn']

In [27]:
# üíæ 7. Guardar archivo
resultado.to_csv("predicciones_febrero2020_fecha_01_07.csv", index=False)
resultado.head()

   product_id           tn
1       20001  1154.437290
3       20002   914.357926
5       20003   661.944658
7       20004   490.075366
9       20005   465.822648